<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.camiloramirez.firstapp2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>First App - Ionic 2</name>
  <description>
        Nice 1st app.
    </description>
  <author email="steve.michelotti@gmail.com" href="http://ionicframework.com/">
      Steve Michelotti
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreen" value="icon"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>